@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
}
.heading{
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
}
p{
    width: 400px;
    font-family: "Playfair Display", serif;

}
.container{
    background-color: #F6F1EB;
    padding: 50px 0 50px;
    display: flex;
    justify-content: space-evenly;
    height: 70vh;
}
button{
    background-color: #A8745C;
    color: white;
    width: 120px;
    height: 40px;
    font-size: 14px;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    border: none;
}
.image-container{
    display: flex;
    position: relative;
    width: 300px;
    height: 300px;
}
.image1{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    bottom: 0;
}
.image2{
    position: absolute;
    top: 200px;
    left:170px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.middle-card{
    position: absolute;
    top: 500px;
    right: 300px;
    width: 60%;
    border-radius: 90px;
    background-color: #F1E3D3;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    text-align: center;
    padding: 20px;
}
.middle-card h1{
    font-family: 'Poppins', sans-serif;
}
.middle-card h3{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    width: 200px;
    font-weight: 500;
}

.footer-container{
    height: 520px;
    background-color: #1F1A17;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.footer-image{
    height: 300px;
    width: 200px;
    border-radius: 20px;
}
h4{
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    padding-top: 20px;
    padding-bottom: 20px;
}