body{
    background-color: rgb(107, 35, 216);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
   
}

.name,.job{
    color: rgb(110, 62, 183);
    text-align: center; 
    text-decoration: none; 
    font-weight: 900;  
}
h2{
    text-decoration: underline;
}
.one{
    background-color: rgb(9, 0, 64);
    border-radius: 20px;
    padding: 30px;
    font-weight: 500;
}
.two{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 204, 0);
  white-space: 2px;
  font-weight: 500;
  color: rgb(71, 19, 150);
  border-radius: 20px;
  padding: 30px;
}
.about{
     text-align: center;
     font-weight: 400;
     font-size: 40px;
     font-weight: 900;
     text-transform: capitalize;
}
p,a{
    word-spacing: 5px;
    line-height: 20px;
    font-size: 20px;
}
h2{
    font-weight: 900;
    font-size: 30px;
}
.contact,ul,ol{
    font-weight: 500;
    font-size: 20px;    
}

footer{
    text-align: center;
    font-style: oblique;
}