body{
    background-color: blueviolet;
}
div{
    background-color: white;
    height: 200px;
    width: 200px;

    
}
div:hover{
    animation-name: expand;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 3;
}
@keyframes expand{
    0%{
        width: 200px;
    }
    50%{
        width: 100%;
        transform-origin: top left;
    }
    100%{
        width: 200px;
        transform: rotate(50deg);
        transform-origin: top left;
    }
}